<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.workbench.texteditor.rulerColumns">
      <column
            class="nl.avans.plugin.AvansRulerColumn"
            enabled="true"
            global="true"
            id="LearnableProgramming.column1"
            includeInMenu="true"
            name="Avans">
         <targetClass class="org.eclipse.jdt.internal.ui.javaeditor.JavaEditor"></targetClass>
         <placement
               gravity="0.5">
         </placement>
      </column>
   </extension>
   
   <extension
         point="org.eclipse.jdt.core.compilationParticipant">
      <compilationParticipant
            class="nl.avans.plugin.AvansCompilationParticipant"
            id="Eclipse-Plugin.compilationParticipant1">
      </compilationParticipant>
   </extension>
   <extension
         point="org.eclipse.ui.views">
         <view
               id="Eclipse-Plugin.view1"
               name="Avans"
               class="nl.avans.plugin.view.AvansView">
         </view>
   </extension>
   
</plugin>
